body{
    padding: 0;
    margin: 0;
    background-color: rgb(123, 190, 55);
}

 .logo{
    display: inline-block; 
    margin: 20px;
    background-color: black;

}
.nav{
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    background-color: black;

}

 .nav li{
    
    padding-right: 70px;
    font-size: 20px;
    display: inline-block;
  
}  
.nav a{
    color: rgb(27, 150, 150);
    text-transform: capitalize;
    text-decoration: overline;
    display: inline-block;
   
} 
 .nav a::first-letter{
font-size: 2em;
color: rgb(55, 55, 201);
text-shadow: 2px 3px 0.5px rgb(72, 6, 56);
}